body{
    font-family: 'Open Sans', sans-serif;
    margin-top: 135px;
}

.navbar-brand{
    font-size: 23px !important;
}

.nav-link{
    font-size: 19px !important;
}

.fab{
    color: white !important;
}

footer{
    padding-top: 100px;
}

i{
    cursor: pointer;
}
 .campground-cards{
     height: 400px;
 }

 .images-show {
     height: 500px;
 }

 .container-show{
     margin: auto 100px;
 }

 #header-icon {
    font-size: 27px;
    color: white;
    transition: all .2s ease-in-out;
  }

  #header-icon:hover { 
    transform: scale(1.2); 
  }